<h2 style="margin-left: 39%; margin-top: 20px;"><strong>Covid 19 Dashboard</strong></h2>
<div  class="container">
    <h3 style="display:block; margin-left: 43%; margin-top: 170px;">Login</h3>
  <form [formGroup]= "loginForm" (ngSubmit)="login(loginForm)" style="display:block; margin-left: 30%; margin-top: 30px;" >
      <div class="form-group row">
          <input id="userName" type="text" class="form-control col-md-6" placeholder= "Username" formControlName= "userName">
      </div>
      <div class="form-group row">
          <input id="password" type="password" class="form-control col-md-6" placeholder="Password" formControlName= "password">
      </div>
      <div class="form-group">
          <button style="margin-left:26px; margin-top: 3px;" class="btn btn-dark form-control col-md-5">Log In</button>
      </div>
      <small style="margin-left: 150px;"><a routerLink="/register">Register</a></small>
  </form>
</div>